.git
.github
astro
.astro
.env
.env.*
airflow_settings.yaml
airflow.db
airflow.cfg
logs/
.venv
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
tests/
README.md
.vscode/
.idea/
