# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Astronomer / Airflow
.git
.astro/
astro
airflow_settings.yaml
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
logs/

# dbt
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
dbt/**/.user.yml

# Credenciais
.env
.env.local
service-account*.json
gcp-credentials*.json

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
